<div class="row mt-5">
    <div class="col-4">
        <h2>Maria Julieta Orce</h2>
        <p class="mt-3"><strong>Email:</strong> julietaorce@gmail.com</p>

        <h5 class="my-3">Juego propio SNAKE</h5>
        <i>Descripcion</i>
        <p> El clasico juego snake que todos jugabamos en el celular </p>
        <p> Para lograr la funcionalidad (...)</p>
    </div>
    <div class="col-3">
        <div class="image-container">
            <img width="100%" src="https://media-exp1.licdn.com/dms/image/C5603AQHyNBlIw53D5g/profile-displayphoto-shrink_800_800/0/1606221901002?e=1639612800&v=beta&t=AxVt8BO1S8PnVDXbcf9HJ3CkbMHmVl2jVUeUkWrqldA" alt="">
        </div>
    </div>
</div>