<div class="row">
    <div class="col-10">
        <table>
            <tr *ngFor="let row of grid">
                <td
                 [class.food]="cell === 'food'"
                 [class.head]="cell === 'head'"
                 [class.snake]="cell === true"
                 class="cell"
                 *ngFor="let cell of row"></td>
            </tr>
        </table>
    </div>
    <div class="col-2">
        <h1>SNAKE</h1>
        <h3 class="my-4">Puntos <span class="text-primary">{{puntos}}</span></h3>
        <button class="btn btn-primary mt-5" (click)="start()">Start</button>
    </div>
</div>